* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.header {
	float: left;
	width: 100%;
	background-color: black;
}
.header-content {
	color: #fff;
	padding: 50px;
}
.container3 {
    float:left;
    width:100%;
    background:green;
    overflow:hidden;
    position:relative;
}
.container2 {
    float:left;
    width:100%;
    background:blue;
    position:relative;
    right:30%;
}
.container1 {
    float:left;
    width:100%;
    background:red;
    position:relative;
    right:40%;
}
.col1 {
    float:left;
    width:26%;
    position:relative;
    left:70%;
    overflow:hidden;
    padding: 50px;
}
.col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
    padding: 50px;
}
.col3 {
    float:left;
    width:26%;
    position:relative;
    left:78%;
    overflow:hidden;
    padding: 50px;
}
.footer {
	float: left;
	width: 100%;
	background-color: black;
}
.footer-content {
	color: #fff;
	padding: 50px;