* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main {
	width: 100%;
	float: left;
}
.header {

	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #333; 
	font-size: 2em;
	color: #fff;
}
.aside1 {
	font-size: 2em;
	padding: 20px;
	width: 25%;
	float: left;
	background-color: green;
	min-height: 100vh;
}
.aside2 {
	font-size: 2em;
	padding: 20px;
	width: 25%;
	float: right;
	background-color: red;
	min-height: 100vh;
}
.content {
	float: left;
	width: 50%;
	padding: 25px;
	background-color: blue;
	min-height: 100vh;
}
.footer {
	clear: both;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #333; 
	font-size: 2em;
	color: #fff;
}
